.logo span {
    display: inline-block;
    text-transform: uppercase;
}

.logo span::first-letter {
    @apply tw-text-red;
    font-weight: bold;
}

.input-light {
    padding: 6.5px 10px;
    font-size: 1em;
    font-weight: 400;
    border: 1px solid #313947;
    border-radius: 4px;
    transition: .15s border-color;

    color: #181c23;
    background-color: #fff;
    height: calc(1.5em + 0.75rem + 2px);
    display: block;
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
    line-height: 1.5;


}

.input-light:focus {
    background-color: #fff;
    border-color: #dd163b;
    box-shadow: none;
    outline: 0;
}

.button.small {
    @apply tw-rounded;
    @apply tw-py-1 tw-px-4;
    line-height: 1.7;
    @apply tw-uppercase;
    @apply tw-text-white;
    @apply tw-font-extrabold;
}

.button.big {
    @apply tw-rounded;
    @apply tw-py-4 tw-px-6;
    line-height: 2;
    @apply tw-uppercase;
    @apply tw-text-white;
    @apply tw-font-extrabold;
}

.button.red {
    @apply tw-bg-red;
}

.button.red:hover {
    @apply tw-bg-blue;
}

.button.grey {
    @apply tw-bg-grey_lightest;
}

.button.grey:hover {
    @apply tw-bg-red;
}

.score-input {
    border-collapse: collapse;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: inline;
    font-family: Montserrat, sans-serif;
    font-size: 24.5px;
    font-weight: 600;
    height: auto;
    letter-spacing: 0.21px;
    line-height: 29.4px;
    margin-bottom: 21px;
    text-align: left;
    text-indent: 0px;
    text-transform: uppercase;
}


.active-player {
    /*background-color: red;*/
}
.inactive-player {
    /*background-color: blue;*/
    padding-left: 33px !important;
}
